name: Tag & Release on PR merge to dev test

on:
  pull_request:
    types: [closed]
    branches: [ main ]


permissions:
  contents: write

jobs:
  tag_and_release:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: Decide bump (hotfix/* => patch, dev => minor)
        id: decide
        run: |
          SRC="${{ github.event.pull_request.head.ref }}"
          PR_TITLE="${{ github.event.pull_request.title }}"
          PR_LABELS="${{ github.event.pull_request.labels }}"
          LABEL="${{ toJson(github.event.pull_request.labels) }}"
          echo "$LABEL"
         
          echo "Example"
          echo "$LABEL" | grep -q "major"
          # Check if the title or labels contain "major"
          if [[ "$PR_TITLE" == *"MAJOR Release"* ]]; then
            echo "bump=major" >> $GITHUB_OUTPUT
          elif [[ "$SRC" == hotfix/* ]]; then
            echo "bump=patch" >> $GITHUB_OUTPUT
          elif [[ "$SRC" == "dev" ]]; then
            echo "bump=minor" >> $GITHUB_OUTPUT 
          else
            echo "bump=patch" >> $GITHUB_OUTPUT
          fi
          echo "$GITHUB_OUTPUT"
